<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>WPT.HomeTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_NavigateChapter</td>
<td>Cloud2_WPT </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_ReaderSettings</td>
<td>Cloud2_WPT </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_LoginPopup</td>
<td>Cloud2_WPT </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_AddBookmark</td>
<td>Cloud2_WPT </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verify_MyLibrary</td>
<td>Cloud2_WPT </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
