<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Cloud2_WPT</td><td>HomeTest.verify_AddBookmark()[pri:5, instance:WPT.HomeTest@2893de87]<br/>HomeTest.verify_LoginPopup()[pri:1, instance:WPT.HomeTest@2893de87]<br/>HomeTest.verify_ReaderSettings()[pri:4, instance:WPT.HomeTest@2893de87]<br/>HomeTest.verify_MyLibrary()[pri:2, instance:WPT.HomeTest@2893de87]<br/>HomeTest.verify_NavigateChapter()[pri:3, instance:WPT.HomeTest@2893de87]<br/></td></tr>
</table>
