<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9abfd2">  <td>21/03/30 23:01:43</td>   <td>0</td> <td title="&gt;&gt;WPTSetUp.loginSetUp()[pri:0, instance:WPT.HomeTest@2893de87]">&gt;&gt;loginSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@172032696</td>   <td></td> </tr>
<tr bgcolor="9abfd2">  <td>21/03/30 23:01:52</td>   <td>9598</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WPTSetUp.setUp()[pri:0, instance:WPT.HomeTest@2893de87]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@172032696</td>   <td></td> </tr>
<tr bgcolor="717884">  <td>21/03/30 23:02:29</td>   <td>46205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verify_AddBookmark()[pri:5, instance:WPT.HomeTest@2893de87]">verify_AddBookmark</td> 
  <td>main@172032696</td>   <td></td> </tr>
<tr bgcolor="717884">  <td>21/03/30 23:01:52</td>   <td>9604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verify_LoginPopup()[pri:1, instance:WPT.HomeTest@2893de87]">verify_LoginPopup</td> 
  <td>main@172032696</td>   <td></td> </tr>
<tr bgcolor="717884">  <td>21/03/30 23:01:58</td>   <td>14856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verify_MyLibrary()[pri:2, instance:WPT.HomeTest@2893de87]">verify_MyLibrary</td> 
  <td>main@172032696</td>   <td></td> </tr>
<tr bgcolor="717884">  <td>21/03/30 23:02:11</td>   <td>27870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verify_NavigateChapter()[pri:3, instance:WPT.HomeTest@2893de87]">verify_NavigateChapter</td> 
  <td>main@172032696</td>   <td></td> </tr>
<tr bgcolor="717884">  <td>21/03/30 23:02:16</td>   <td>33145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verify_ReaderSettings()[pri:4, instance:WPT.HomeTest@2893de87]">verify_ReaderSettings</td> 
  <td>main@172032696</td>   <td></td> </tr>
</table>
