<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Cloud2_WPT</td><td>HomeTest.verify_LoginPopup()[pri:0, instance:WPT.HomeTest@212bf671]<br/>HomeTest.verify_MyLibrary()[pri:0, instance:WPT.HomeTest@212bf671]<br/></td></tr>
</table>
