<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CloudLibrary Sanity Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d9bc64">  <td>21/03/25 12:03:53</td>   <td>0</td> <td title="&gt;&gt;WPTSetUp.loginSetUp()[pri:0, instance:WPT.HomeTest@212bf671]">&gt;&gt;loginSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341878976</td>   <td></td> </tr>
<tr bgcolor="d9bc64">  <td>21/03/25 12:04:45</td>   <td>52432</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;WPTSetUp.setUp()[pri:0, instance:WPT.HomeTest@212bf671]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@341878976</td>   <td></td> </tr>
<tr bgcolor="9e72ba">  <td>21/03/25 12:04:45</td>   <td>52439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verify_LoginPopup()[pri:0, instance:WPT.HomeTest@212bf671]">verify_LoginPopup</td> 
  <td>main@341878976</td>   <td></td> </tr>
<tr bgcolor="9e72ba">  <td>21/03/25 12:04:45</td>   <td>52442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeTest.verify_MyLibrary()[pri:0, instance:WPT.HomeTest@212bf671]">verify_MyLibrary</td> 
  <td>main@341878976</td>   <td></td> </tr>
</table>
